<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72924460644-rfilit1h1u7rddn921ous2pkqcl8onif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72924460644-rfilit1h1u7rddn921ous2pkqcl8onif</string>
	<key>API_KEY</key>
	<string>AIzaSyCJCNtZR8GMyARjaJrnmk7lG8CSq91KJf4</string>
	<key>GCM_SENDER_ID</key>
	<string>72924460644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qorvo.nibg</string>
	<key>PROJECT_ID</key>
	<string>nearbyinteraction</string>
	<key>STORAGE_BUCKET</key>
	<string>nearbyinteraction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:72924460644:ios:dcc87f3451103db8fe9171</string>
</dict>
</plist>
